<% if current_user%>
      <div class="navbar-header">
        <%= link_to 'Sign out', destroy_user_session_path, method: :delete  ,class: "logout-link" %>
        <h1 class="navbar-heading">Manager Manegement</h1>
        <p class="sub-heading">Managers</p>
      </div>
      <!-- Navbar -->
        
<%= render 'manegers/admin' %>

<%# <%= link_to 'Sign out', destroy_user_session_path, method: :delete %> %>
<% else%>
<%= link_to 'Sign up', new_user_registration_path %>
<%= link_to 'Sign in', new_user_session_path %>
<%end%>
