<div class="navbar-header">
  <%= link_to 'Sign out', destroy_user_session_path, method: :delete  ,class: "logout-link" %>
  <h1 class="navbar-heading">Sites Management</h1>
  <p class="sub-heading">All sites</p>
</div>


  <div class="search-seaction">
      <div class="row">
        <div class="col-9">
          <%= render 'sites/search' %>
        </div>
        <div class="col-3">
          <a href="/sites/new" class="btn btn-primary btn-round pull-left ml-4">Add Site</a>
        </div>
    </div>
  </div>



<div class="content">
    <div class="container-fluid">
      <% @site.map do |s| %>
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header card-header-primary">
                <div class='row'>
                  <div class='col-6'>
                    <div class='row'>
                      <h4 class="card-title ml-3 "><%= s.name%></h4>
                      <a class="ml-2" href = "/sites/<%=s.id%>/edit">
                        <img src="https://i.ibb.co/3d8X3kW/edit1.png" height="20px" width="20px" alt="edit" border="0">
                      </a>
                      <%= link_to '<img src="https://i.ibb.co/px82bhm/del.png" height="20px" width="20px" alt="delete" border="0">'.html_safe, delete_site_site_path(s.id), class: 'delete-action ml-1', data: { confirm: 'Are you sure?', method: :delete } %>
                    </div>
                  </div>
                  <div class="col-6">  
                    <a href="/manegers/new?id=<%=s.id%>" id="requestthis" class="btn btn-primary add-manger-button">Add Manager</a>
                  </div>
                </div>
                <div class="row">
                  <a class="ml-3 mr-2"><img src="https://i.ibb.co/hmx05xT/Places.png" width="18px" height="18px" alt="location-icon" border="0"></a>
                  <p class="card-category"><%= s.address%></p>
                </div>
                <div class="row">
                  <a class='ml-3 mr-2'><img src="https://i.ibb.co/fQwnxvb/Phone.png" width="18px" height="18px" alt="download" border="0"></a>
                  <p class="card-category"><%= s.contact%></p>
                </div>

              </div>

              <div class="card-body">
                <div class="table-responsive">
                  <table class="table">
                    <thead class=" text-primary">
                      <th>
                        Name
                      </th>
                      <th>
                        Email
                      </th>
                      <th>
                        Password
                      </th>
                      <th class= "actions-links">
                        Actions
                      </th>
                    </thead>
                    <tbody>
                    <% s.users.map do |u| %>
                      <tr>
                        <td>
                          <%= u.first_name + " " + u.last_name %> 
                        </td>
                        <td>
                          <%= u.email%>
                        </td>
                        <td>
                          <%= u.view_password%>
                        </td>
                        <td class="text-primary">
                        
                        <a href = "manegers/<%=u.id%>/edit?site_id=<%=s.id%>">
                          <img src="https://i.ibb.co/hFHxCxN/edit.png" height="40px" width="40px" alt="edit" border="0">
                        </a>

                        <%= link_to '<img src="https://i.ibb.co/QK8ycft/delete.png" height="45px" width="45px" alt="delete" border="0">'.html_safe, delete_manager_maneger_path(u.id), class: 'delete-action', data: { confirm: 'Are you sure?', method: :delete } %>

                        </td>
                      </tr>
                    <%end%>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
         </div>
        <%end%>
    </div>
  </div>

  <%= render 'sites/admin' %>
