<div class="navbar-header">
  <%= link_to 'Sign out', destroy_user_session_path, method: :delete  ,class: "logout-link" %>
  <h1 class="navbar-heading">Sites Manegement</h1>
  <p class="sub-heading">All sites</p>
</div>


  <div class="search-seaction">
    <div class="container-fluid">
      <div class="row">
        <div class="col-8">
            <div class="input-group no-border">
             <%= render 'sites/search' %>
            </div>
        </div>
        <div class="col-4">
          <div class="add-site-button">
            <a href="/sites/new" class="btn btn-primary btn-round">Add Site</a>
          </div>
        </div>
      </div>
    </div>
  </div>
   

<div class="content">
    <div class="container-fluid">
      <% @site.map do |s| %>
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header card-header-primary">
                <h4 class="card-title "><%= s.name%></h4>
                <p class="card-category"><%= s.contact%></p>
                <p class="card-category"><%= s.address%></p>
                <a href="/manegers/new?id=<%=s.id%>" id="requestthis" class="btn btn-primary add-manger-button">Add Manager</a>
              </div>

              <div class="card-body">
                <div class="table-responsive">
                  <table class="table">
                    <thead class=" text-primary">
                      <th>
                        First Name
                      </th>
                      <th>
                        Last Name
                      </th>
                      <th>
                        Email
                      </th>
                      <th class= "actions-links">
                        Actions
                      </th>
                    </thead>
                    <tbody>
                    <% s.users.map do |u| %>
                      <tr>
                        <td>
                          <%= u.first_name%>
                        </td>
                        <td>
                          <%= u.last_name%>
                        </td>
                        <td>
                          <%= u.email%>
                        </td>
                        <td class="text-primary">
                        <a href="">
                          <img src="https://i.ibb.co/hFHxCxN/edit.png" height="40px" width="40px" alt="edit" border="0">
                        </a>
                        <a href="">
                          <img src="https://i.ibb.co/QK8ycft/delete.png" height="45px" width="45px" alt="delete" border="0">
                        </a>
              
                        <%# <%= u.encrypted_password    %>
                        </td>
                      </tr>
                    <%end%>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
         </div>
        <%end%>
    </div>
  </div>

  <%= render 'sites/admin' %>
